.bg_elem { position: relative; background-color: #1f1f1f; }

.slot_machine_text { display: flex; align-items: center; justify-content: center; overflow: hidden; position: relative; z-index: 100; height: 100vh; }
.slot_machine_text .title_wrap { display: flex; flex-direction: column; align-items: center; }
.slot_machine_text .title_wrap .title_row { display: flex; }
.slot_machine_text .title_wrap .title_row .text { opacity: 0; color: #fff; line-height: 100%; text-align: center; font-size: 72px; font-family: 'Glitch_Goblin', 'Malgun Gothic', Arial, sans-serif; user-select: none; }

.bg_big_compass { position: absolute; inset: 0; overflow: hidden; }
.bg_big_compass svg { display: block; position: relative; top: 50%; left: 50%; transform: translate(-50%, -50%); opacity: 0.3; }
.bg_big_compass svg circle { fill: none; stroke: #fff; }
.bg_big_compass svg line { stroke: #fff; stroke-width: 1; }

.bg_small_compass { display: flex ; justify-content: space-between; align-items: center; position: absolute; inset: 0; overflow: hidden; padding: 0 120px 0; }
.bg_small_compass svg { opacity: 0.8; }
.bg_small_compass svg line { stroke: #fff; stroke-width: 1; }
.bg_small_compass svg rect { stroke: #fff; stroke-width: 1; }

.bg_noise { position: fixed; overflow: hidden; inset: 0; z-index: 100; pointer-events: none; opacity: 0.1; }
.bg_noise::after { content: ""; position: absolute; inset: 0; background-image: url("/images/noise.png"); pointer-events: none; }