.header { display: flex; position: fixed; top: 0; height: max-content; z-index: var(--z100); padding: 4rem 16rem; }
.header .nav_wrap { display: flex; flex-direction: row; }
.header .nav_wrap .nav_item { width: max-content; padding: 0.4rem 1.2rem; margin-right: 6rem; border-radius: 999px; border: 2px solid var(--black); background-color: var(--thema); color: var(--black); font-size: 1.8rem; cursor: pointer; transition: .3s; }
.header .nav_wrap .nav_item:hover { background-color: var(--whiteE); }
.header .nav_wrap .nav { visibility: hidden; opacity: 0; transition: opacity .3s; }
.header .nav_wrap .nav ul { display: flex; flex-direction: row; gap: 2rem; }
.header .nav_wrap .nav ul li .scroll,
.header .nav_wrap .nav ul li .another { display: block; width: max-content; padding: 0.4rem 1.2rem; border-radius: 999px; border: 2px solid var(--black); background-color: var(--whiteE); color: var(--black); font-size: 1.8rem; cursor: pointer; transition: .3s; }
.header .nav_wrap .nav ul li .scroll:hover,
.header .nav_wrap .nav ul li .another:hover { background-color: var(--thema); }

.header .nav_wrap.click .nav_item { background-color: var(--whiteE); }
.header .nav_wrap.click .nav_item:hover { background-color: var(--thema); }
.header .nav_wrap.click .nav { visibility: visible; opacity: 1; }

.header .nav_wrap.profile .nav_item { background-color: var(--black); color: var(--whiteE); }
.header .nav_wrap.profile .nav_item:hover { background-color: var(--whiteE); color: var(--black); }
.header .nav_wrap.profile .nav ul li { background-color: var(--black); color: var(--whiteE); }
.header .nav_wrap.profile .nav ul li:hover { background-color: var(--whiteE); color: var(--black); }


@media (max-width: 1536px) {
	.header { padding: 2rem 12rem; }
	.header .nav_wrap .nav_item { font-size: 1.6rem; margin-right: 4rem; }
	.header .nav_wrap .nav ul li { font-size: 1.6rem; }
}