.project_section { padding: 36rem 16rem; background-color: var(--themaSubDark); }

.code_card_wrap { display: grid ; grid-template-columns: repeat(2, 1fr); gap: 2rem; align-items: center; position: relative; }
.design_card_wrap { display: flex; flex-wrap: wrap; gap: 2.8rem; position: relative; padding-top: 48rem; }

/* publishing portfolio, code portfolio 텍스트 START!!*/
.code_card_wrap .code_card_title { top: -35rem; }
.code_card_wrap .code_card_subtitle { top: -20rem; }
.design_card_wrap .design_card_title { top: 7rem; }
.design_card_wrap .design_card_subtitle { top: 22rem; }
/* publishing portfolio, code portfolio 텍스트 END!!*/

/* 퍼블리싱 포트폴리오 카드 START!! */
.typortfolio { left: -55rem; }
.taeyoon { right: -55rem; }
.krmx { left: -55rem; top: 55rem; }
.niweb { right: -55rem; top: 55rem; }
.hivu { scale: 0; }
.tycode { scale: 0; }
.mydays { left: 135rem; }
.yoondesign { right: 135rem; }
.netmarble { scale: 0; }
/* 퍼블리싱 포트폴리오 카드 END!! */

/* code_card_wrap, design_card_wrap 공통 코드 START!! */
.code_card_wrap .code_card_title,
.design_card_wrap .design_card_title { display: flex; position: absolute; left: 0; scale: 0.5; user-select: none; }
.code_card_wrap .code_card_title .char,
.design_card_wrap .design_card_title .char { position: relative; left: 100%; rotate: 180deg; }
.code_card_wrap .code_card_subtitle,
.design_card_wrap .design_card_subtitle { display: flex; position: absolute; right: 0; scale: 0.5; user-select: none; }
.code_card_wrap .code_card_subtitle .char,
.design_card_wrap .design_card_subtitle .char { position: relative; right: 100%; rotate: -180deg; }

.code_card_wrap .code_card_title .char,
.code_card_wrap .code_card_subtitle .char,
.design_card_wrap .design_card_title .char,
.design_card_wrap .design_card_subtitle .char
{ color: var(--black); font-size: 14.4rem; font-weight: 400; transition: .3s font-weight ease, .3s font-size ease; }

.code_card_wrap .code_card_title .char:hover,
.code_card_wrap .code_card_subtitle .char:hover,
.design_card_wrap .design_card_title .char:hover,
.design_card_wrap .design_card_subtitle .char:hover
{ color: var(--themaDark); font-weight: 900; font-size: 16rem; }

.code_card_wrap .code_card_title .char:hover + .char,
.code_card_wrap .code_card_subtitle .char:hover + .char,
.design_card_wrap .design_card_title .char:hover + .char,
.design_card_wrap .design_card_subtitle .char:hover + .char
{ color: var(--themaDeep); font-weight: 700; } /* 현재 문자에 마우스를 올렸을 때, 바로 다음 문자의 스타일 변경 */

.code_card_wrap .code_card_title .char:hover + .char + .char,
.code_card_wrap .code_card_subtitle .char:hover + .char + .char,
.design_card_wrap .design_card_title .char:hover + .char + .char,
.design_card_wrap .design_card_subtitle .char:hover + .char .char
{ color: var(--thema); font-weight: 400; } /* 현재 문자에 마우스를 올렸을 때, 다음다음 문자의 스타일 변경 */

.code_card_wrap .code_card_title .char:has(+ .char:hover),
.code_card_wrap .code_card_subtitle .char:has(+ .char:hover),
.design_card_wrap .design_card_title .char:has(+ .char:hover),
.design_card_wrap .design_card_subtitle .char:has(+ .char:hover)
{ color: var(--themaDeep); font-weight: 700; } /* 현재 문자의 다음 문자에 마우스를 올렸을 때, 현재 문자의 스타일 변경 */

.code_card_wrap .code_card_title .char:has(+ .char + .char:hover),
.code_card_wrap .code_card_subtitle .char:has(+ .char + .char:hover),
.design_card_wrap .design_card_title .char:has(+ .char + .char:hover),
.design_card_wrap .design_card_subtitle .char:has(+ .char + .char:hover)
{ color: var(--thema); font-weight: 400; } /* 현재 문자의 다음다음 문자에 마우스를 올렸을 때, 현재 문자의 스타일 변경 */
/* code_card_wrap, design_card_wrap 공통 코드 END!! */


.code_card_wrap .code_card { position: relative; padding: 4rem 6rem; border-radius: 1.2rem; overflow: hidden; }
.code_card_wrap .code_card .card_title { margin-bottom: 1.2rem; font-size: 40px; font-weight: bold; }
.code_card_wrap .code_card .card_title .card_date { margin-left: 1.2rem; font-size: 2.4rem; }
.code_card_wrap .code_card .card_type { position: absolute; top: 3rem; right: -11rem; transform: rotate(45deg); width: 30rem; text-align: center; font-size: 2.2rem; font-weight: 700; }
.code_card_wrap .code_card .tech_stack { display: flex; justify-content: space-between; margin-bottom: 2rem; }
.code_card_wrap .code_card .tech_stack .tech_row { display: flex; flex-direction: column; }
.code_card_wrap .code_card .tech_stack .tech_row .tech_row_title { margin-bottom: 0.8rem; font-size: 1.6rem; font-weight: bold; }
.code_card_wrap .code_card .tech_stack .tech_row .tech_row_text { margin-bottom: 0.4rem; border-radius: 0.4rem; font-size: 1.4rem; }

.code_card_wrap .code_card .skill_container .skill_title { margin-bottom: 1.2rem; font-size: 1.6rem; font-weight: bold; }
.code_card_wrap .code_card .skill_container .skill_list { display: flex; flex-wrap: wrap; margin-bottom: 2rem; }
.code_card_wrap .code_card .skill_container .skill_list .skill_item { display: flex; align-items: center; padding: 0.4rem 0.8rem; margin: 0 8px 8px 0; border-radius: 4px; }
.code_card_wrap .code_card .skill_container .skill_list .skill_item .skill_icon { position: relative; width: 2rem; height: 2rem; }
.code_card_wrap .code_card .skill_container .skill_list .skill_item .skill_name_text { margin-left: 0.4rem; letter-spacing: 0; font-size: 1.2rem; }

.code_card_wrap .code_card .features_container { margin-bottom: 2rem; }
.code_card_wrap .code_card .features_container .features_title { margin-bottom: 1.2rem; font-size: 1.6rem; font-weight: bold; }
.code_card_wrap .code_card .features_container .features .features_item { font-size: 1.4rem; line-height: 180%; }
.code_card_wrap .code_card .features_container .features .features_item:not(:last-child) { margin-bottom: 1.2rem; }

.code_card_wrap .code_card .contributions_container { margin-bottom: 2rem; }
.code_card_wrap .code_card .contributions_container .contributions_title { margin-bottom: 1.2rem; font-size: 1.6rem; font-weight: bold; }
.code_card_wrap .code_card .contributions_container .contributions { padding-left: 1.6rem; list-style: disc; }
.code_card_wrap .code_card .contributions_container .contributions .contributions_item { font-size: 1.4rem; line-height: 180%; }

.code_card_wrap .code_card .screenshot_container { margin-bottom: 2rem; }
.code_card_wrap .code_card .screenshot_container .screenshot_title { margin-bottom: 1.2rem; font-size: 1.6rem; font-weight: bold; }
.code_card_wrap .code_card .screenshot_container .swiper-wrapper { cursor: pointer; }
.code_card_wrap .code_card .screenshot_container .swiper-slide { width: calc( ((100% - 10px) / 3.6)) !important; cursor: pointer; }
.code_card_wrap .code_card .screenshot_container .swiper-slide .screenshot_image { position: relative; width: 100%; padding-bottom: 56.25%; filter: brightness(0.9); }
.code_card_wrap .code_card .screenshot_container .swiper-slide .screenshot_image img { border-radius: 0.4rem; }

.code_card_wrap .code_card .link_shortcut { display: flex ; justify-content: space-between; align-items: center; }
.code_card_wrap .code_card .link_shortcut a { display: flex; align-items: center; justify-content: center; position: relative;	width: 49%;	padding: 1.2rem 3.2rem;	overflow: hidden; border-radius: 1.2rem; will-change: color, font-weight, transform, opacity, background-color; }
.code_card_wrap .code_card .link_shortcut a.width49 { width: 49%; }
.code_card_wrap .code_card .link_shortcut a.width100 { width: 100%; }
.code_card_wrap .code_card .link_shortcut a:hover { transition: opacity 0.3s ease, transform 0.3s ease, ease, color 1s ease, font-weight 1s ease, background-color 1s ease 0.75s; }
.code_card_wrap .code_card .link_shortcut a:before { transform: translate3d(-10%, 15%, 0) rotate(330deg); }
.code_card_wrap .code_card .link_shortcut a:after { transform: translate3d(10%, 15%, 0) rotate(0deg); }
.code_card_wrap .code_card .link_shortcut a:before,
.code_card_wrap .code_card .link_shortcut a:after { content: ""; position: absolute; z-index: -1; pointer-events: none; top: 0; right: -50%; left: -50%; padding-bottom: 200%; border-radius: 40%; transition: transform 1s ease, opacity 0.5s ease; opacity: 0; }
.code_card_wrap .code_card .link_shortcut a:hover:before { transform: translate3d(-10%, -10%, 0) rotate(100deg); }
.code_card_wrap .code_card .link_shortcut a:hover:after { transform: translate3d(10%, -10%, 0) rotate(180deg); }
.code_card_wrap .code_card .link_shortcut a:hover:before,
.code_card_wrap .code_card .link_shortcut a:hover:after { transition: transform 2s ease, opacity 0.2s ease; opacity: 1; }

/* 테마별 링크 박스 호버 효과 START!! */
.code_card_wrap .code_card .link_shortcut .whiteD:hover { background-color: var(--themaDark) !important; color: var(--whiteE) !important; font-weight: bold !important; }
.code_card_wrap .code_card .link_shortcut a.whiteD:before { background: linear-gradient(25deg, var(--themaDark), #9638d800); }
.code_card_wrap .code_card .link_shortcut a.whiteD:after { background: linear-gradient(70deg, var(--themaDark), #7c38d800); }

.code_card_wrap .code_card .link_shortcut .thema:hover { background-color: var(--themaDeep) !important; color: var(--whiteE) !important; font-weight: bold !important; }
.code_card_wrap .code_card .link_shortcut a.thema:before { background: linear-gradient(25deg, var(--themaDeep), #9638d800); }
.code_card_wrap .code_card .link_shortcut a.thema:after { background: linear-gradient(70deg, var(--themaDeep), #7c38d800); }

.code_card_wrap .code_card .link_shortcut .themaDeep:hover { background-color: var(--thema) !important; color: var(--black) !important; font-weight: bold !important; }
.code_card_wrap .code_card .link_shortcut a.themaDeep:before { background: linear-gradient(25deg, var(--thema), #9638d800); }
.code_card_wrap .code_card .link_shortcut a.themaDeep:after { background: linear-gradient(70deg, var(--thema), #7c38d800); }

.code_card_wrap .code_card .link_shortcut .black333:hover { background-color: var(--black999) !important; color: var(--whiteE) !important; font-weight: bold !important; }
.code_card_wrap .code_card .link_shortcut a.black333:before { background: linear-gradient(25deg, var(--black999), #9638d800); }
.code_card_wrap .code_card .link_shortcut a.black333:after { background: linear-gradient(70deg, var(--black999), #7c38d800); }
/* 테마별 링크 박스 호버 효과 END!! */

.design_card_wrap .design_card { display: flex; flex-direction: column;	gap: 2.4rem; width: calc(33.33% - 2.8rem); padding: 1.6rem; background-color: var(--whiteE); border-radius: 1.6rem; }
.design_card_wrap .design_card .thumbnail {	flex-shrink: 0; position: relative; overflow: hidden; height: 27rem; border-radius: 1.2rem; }
.design_card_wrap .design_card .thumbnail img { width: 100%; height: 100%; object-fit: cover; }
.design_card_wrap .design_card .content { display: flex; flex-direction: column; }
.design_card_wrap .design_card .date_type_wrap { margin-bottom: 1.2rem; }
.design_card_wrap .design_card .date_type_wrap span { padding: 0.4rem 0.8rem;  border-radius: 0.4rem; background-color: var(--themaSub); color: var(--black); font-size: 1.4rem; }
.design_card_wrap .design_card .date_type_wrap span:not(:last-child) { margin-right: 1.2rem; }
.design_card_wrap .design_card .title { margin-bottom: 1.2rem; font-size: 2rem; font-weight: bold; }
.design_card_wrap .design_card .description { display: -webkit-box; line-clamp: 3; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis; color: var(--black666); font-size: 1.6rem; }


@media (max-width: 1536px) {

}