@import "./pretendard.css";
@import "./galmuri11.css";
@import "./font.css";
@import "./keyframes.css";
@import "./main_section.css";
@import "./profile_section.css";
@import "./noise.css";

:root {
	--thema: #07aa77;
	--black: #111;
	--white: white;
	--whiteBg: #ebeae4;
	--z10: 10;
	--z30: 30;
	--z50: 50;
	--z70: 70;
	--z100: 100;
}

.section { position: relative; overflow: hidden; min-height: 100svh; background-color: var(--black); }