@import "./pretendard.css";
@import "./galmuri11.css";
@import "./font.css";
@import "./keyframes.css";
@import "./common.css";
@import "./footer.css";
@import "./header.css";
@import "./main_section.css";
@import "./profile_section.css";
@import "./skill_section.css";
@import "./project_section.css";

:root {
	--thema: #87BD89;
	--themaDeep: #138318;
	--themaDark: #033606;
	--themaDarkTrans: #03360650;
	--themaSub: #D5DBBA;
	--themaSubDark: #99a06c;
	--black: #111;
	--black333: #333;
	--black666: #666;
	--black999: #999;
	--white: white;
	--whiteE: #eee;
	--whiteD: #ddd;
	--z-1: -1;
	--z10: 10;
	--z30: 30;
	--z50: 50;
	--z70: 70;
	--z100: 100;
}

/* ::-webkit-scrollbar { width: 0px; } */
/* ::-webkit-scrollbar-thumb { border-radius: 999px; background-color: var(--themabright); }
::-webkit-scrollbar-thumb:hover { background-color: var(--thema); } */

.grid-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(30, 1fr); /* 10x10 그리드 */
  grid-template-rows: repeat(15, 1fr);
  z-index: 10;
}

.grid-box {
  background-color: black;
  opacity: 0;
}